[tool.poetry]
name = "sema4ai-action-server"
version = "0.8.0"
description = """Sema4AI Action Server"""
authors = [
	"Fabio Z. <fabio@robocorp.com>",
]
readme = "README.md"
repository = "https://github.com/sema4ai/actions/"
license = "Apache-2.0"
packages = [{ include = "sema4ai", from = "src" }]
include = [
	"src/sema4ai/action_server/_static_contents.py",
	"src/sema4ai/action_server/bin/rcc*",
]

[tool.poetry.scripts]
action-server = "sema4ai.action_server.cli:main"


[tool.poetry.dependencies]
# Important: when these versions change, pyoxidizer.bzl needs
# to be updated too for the binary build.
# Use 'inv update-pyoxidizer-versions'.
aiohttp = "^3.9.3"
fastapi = "^0.110.0"
fastjsonschema = "^2.19.1"
jsonschema = "^4.19.2"
msgspec = "^0.18"
psutil = "^5"
pydantic = "^2.4.2"
pyyaml = "^6"
python = "^3.10"
requests = "^2"
sema4ai-actions = "^0.3.1"
termcolor = "^2.4.0"
uvicorn = "^0.23.2"
websockets = "^12.0"
cryptography = "^42.0.5"


[tool.poetry.group.dev.dependencies]
sema4ai-devutils = { path = "../devutils/", develop = true }
types-requests = "^2"
types-PyYAML = "^6"
robocorp-log-pytest = "^0.0.2"
types-psutil = "^5"
pyoxidizer = "^0.24.0"


[tool.mypy]
mypy_path = "src:tests"

[tool.black]
skip-string-normalization = false
skip-magic-trailing-comma = false

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core", "setuptools"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.build]
script = "build.py"
generate-setup-file = true


# This is for backward compatibility.
[[tool.mypy.overrides]]
module = "robocorp.actions.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "robocorp.tasks.*"
ignore_missing_imports = true